* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2d3238;
  max-width: 1920px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
/* animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  position: fixed;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, #ff0000, #fbff00, #ff9900);
  background-size: 600% 600%;
  animation: gradient 2s ease infinite;
  z-index: 2;
}
/* banner */
.banner {
  margin-top: 1px;
  background-color: black;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  z-index: 1;
  width: 900px;
  height: 150px;
  animation: fadeInOut 1s infinite;
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

/* navbar */
.navbar {
  display: flex;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.navbar .nav {
  width: 1234px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar .nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  color: rgb(235, 213, 23);
  font-weight: bold;
  width: 140px;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul.menu {
  height: 50px;
}

li#active_nav {
  background-color: #74777c;
}

.navbar .nav ul li span:hover {
  cursor: pointer;
  transform: scale(0.94);
  transition: 0.2s ease-in-out;
}
.navbar .nav ul li:hover > i {
  cursor: pointer;
  transform: scale(0.94);
  transition: 0.2s ease-in-out;
}

.login {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-content {
  background-color: #74777c;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.5s;
  color: white;
}
.modal-content form {
  margin-top: 5%;
}
#signupModal .modal-content {
  margin: 3% auto;
}
@keyframes slideIn {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  background-color: #d8d50b;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #ccc01f;
}

/* search */
.search {
  display: flex;
  gap: 2px;
  width: 360px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.search i {
  outline: none;
  position: absolute;
  left: 10px;
}
.search input {
  width: 300px;
  height: 35px;
  padding: 0 30px;
  background-color: #b3b3b3;
  outline: none;
}
.search-container {
  width: 30%;
  height: 40px;
  background-color: #74777c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-popup {
  display: none; /* Hidden by default */
  position: absolute;
  top: 50px; /* Positioning the popup right below the input field */
  background-color: #dddddd;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  width: 320px; /* Adjust the width as needed */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000; /* Make sure the popup is above other elements */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search-popup.active {
  display: block;
}
.search-popup input[type="text"] {
  width: calc(80% - 20px); /* Adjust the width of the input fields */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}
.search-popup input[type="checkbox"] {
  margin-right: 5px;
}
.search-popup label {
  font-weight: bold;
}
.search-popup button {
  background-color: #d8d50b;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}
.search-popup button:hover {
  background-color: #ccc01f;
}

/* select */
.select-container {
  margin-top: 20px;
  position: relative;
  width: 365px;
  margin-bottom: 20px;
}
.select-box {
  width: 100%;
  padding: 10px;
  background-color: rgb(124, 124, 124);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-box:hover {
  background-color: #f9f9f9;
  color: black;
}
.select-popup {
  display: none;
  position: absolute;
  top: 45px; /* Positioning the popup right below the select box */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 105%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
  color: #2d3238;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.select-popup.active {
  display: block;
}
.select-option {
  padding: 10px;
  cursor: pointer;
}
.select-option:hover {
  background-color: #a8a8a8;
  color: #ffffff;
}
.select-option1 {
  padding: 10px;
  cursor: pointer;
}
.select-option1:hover {
  background-color: #a8a8a8;
  color: #ffffff;
}

button.fill_plus {
  padding: 10px 20px;
  background-color: rgb(177, 189, 10);
  outline: none;
  border: none;
  font-weight: bold;
}
button.fill_plus:hover {
  transform: scale(0.97);
  transition: 0.2s ease-in-out;
  background-color: rgb(224, 235, 82);
}

/* fill_plus */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

.close1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.buttons {
  margin: 20px 0;
}

.buttons button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  border-radius: 8px;
}

.confirm {
  background-color: #e7eb11;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
button.confirm:hover {
  background-color: #ccc01f;
  transform: scale(0.97);
  transition: 0.2s ease-in-out;
}
.add-tag {
  color: black;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}
#selectedTags {
  margin: 20px 0;
}
.selected-tag {
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
}

/* trend */
.trend {
  margin-top: 10px;
  width: 1234px;
  height: 40px;
  display: flex;
  align-items: center;
}

.trend button {
  margin-left: 15px;
  padding: 7px 20px;
  outline: none;
  background-color: rgb(59, 59, 59);
  border: none;
  color: rgb(56, 153, 233);
  font-weight: bold;
  font-size: 15px;
}

/* trend - card */
.card {
  position: relative;
  height: 45px;
  width: 1200px;
  border-bottom: 1px solid rgb(126, 126, 126);
  border-radius: 7px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.card:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #1f1f1f;
}
.card p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  color: white;
  padding: 1px 4px;
  background-color: red;
  border-radius: 2px;
}
.card:hover > p {
  background-color: white;
  color: red;
}
.card button {
  padding: 5px 4px;
  border: 0.2px solid white;
}
.card span {
  margin-left: 10px;
  color: white;
  font-size: 15px;
}
.card span:hover {
  text-decoration: underline;
}

/* footer */
footer {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 10px;
}

footer .f p {
  margin-top: 5px;
  color: #d3d1d1;
  font-size: 14px;
}
footer i {
  margin-top: 5px;
  color: #d3d1d1;
  font-size: 14px;
}
/* card-des */
#card-des:hover{
  background-color: #2d3238;
}
#card-des:hover>span{
  text-decoration: none;
}

.post{
  width: 1200px;
  height: 650px;
  background-color: #3d3f44;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
.post p.ct{
  margin-left: 30px;
  margin-top: 20px;
  color: white;
  font-size: 30px;
}
.post img{
  margin-top: 20px;
  width: 900px;
  height: 500px;
}

/* cmt */
.cmt{
  height: 140px;
  width: 1200px;
  border-radius: 5px;
  background-color: #3d3f44;
  margin-bottom: 10px;
  display: flex;
}